### Imports and General Data

In [12]:
import pandas as pd
import os
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import sqlite3
import pandas as pd
from preprocessing import create_connection, get_files
from main import get_files, get_data, export_data
(root, data_path, presidents, cities, years) = get_data()

# Data Overview

In [ ]:
trump = pd.read_pickle(f'{data_path}trump.pkl')
johnson = pd.read_pickle(f'{data_path}johnson.pkl')

In [ ]:
trump.shape, johnson.shape

((0, 0), (0, 0))

In [ ]:
trump.columns

In [ ]:
trump.drop(columns=[])

In [ ]:
# trump[['created_at', 'created_timestamp']]
trump[['created_timestamp']]
# format: UTC time ()

### Location Analysis

Average sentiment score in each city and country

In [ ]:
# TODO: run sql query to find out average
# get number of rows in sentiment column
# get average of 'Compound'

In [ ]:
conn = create_connection(db_file)
cur = conn.cursor()
cur.execute(f'SELECT {select} FROM {table} WHERE {where} LIMIT {limit}')

rows = cur.fetchall()

for row in rows:
    print(row)

In [15]:
def get_sum_and_count(db_file, table_name, col):
    """Get the sum and count of the 'Compound' column from the specified table."""
    conn = create_connection(db_file)
    if conn:
        query = f"SELECT SUM({col}) as sum_compound, COUNT(*) as count FROM {table_name}"
        result = pd.read_sql_query(query, conn)
        sum_compound = result.iloc[0]['sum_compound']
        count = result.iloc[0]['count']
        conn.close()
        return sum_compound, count
    else:
        return None

In [16]:
for city in cities:
    for year in years:
        for db_file in get_files(f'{root}{city}/{year}/'):
            compound_sum, compound_num_of_rows = get_sum_and_count(db_file, 'sentiment', 'Compound')

DatabaseError: Execution failed on sql 'SELECT SUM(Compound) as sum_compound, COUNT(*) as count FROM sentiment': no such table: sentiment

In [ ]:
# List of database files
db_files = ['path/to/db1.db', 'path/to/db2.db', ...]  # Add your database file paths here

# Calculate the sum and count of Compound values for each database
sums_counts = [get_sum_and_count(db_file) for db_file in db_files if get_sum_and_count(db_file) is not None]

# Calculate the overall sum and count
overall_sum = sum([item[0] for item in sums_counts])
overall_count = sum([item[1] for item in sums_counts])

# Calculate the overall average if there are valid sums and counts
if overall_count > 0:
    overall_average = overall_sum / overall_count
    print("Overall average of Compound:", overall_average)
else:
    print("No valid data to calculate average.")

Average sentiment of the presidents in each city and country

In [ ]:
for city in cities:
    trump = pd.read_pickle(f'{data_path}{presidents[0]}-{city}.pkl')
    johnson = pd.read_pickle(f'{data_path}{presidents[1]}-{city}.pkl')

In [9]:
trump = pd.read_pickle(f'{data_path}{presidents[0]}-Birmingham.pkl')

In [10]:
trump.shape

(26758, 136)

In [11]:
trump.columns

Index(['item_number', 'id', 'created_at', 'created_timestamp', 'text',
       'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'lang',
       ...
       'nonflu', 'filler', 'AllPunc', 'Period', 'Comma', 'QMark', 'Exclam',
       'Apostro', 'OtherP', 'Emoji'],
      dtype='object', length=136)

##### Birmingham

In [ ]:
trump = pd.read_pickle(f'{data_path}trump.pkl')
johnson = pd.read_pickle(f'{data_path}johnson.pkl')

##### LA